.App {
  text-align: center;
}

.black-background {
  background-color: rgb(10,10,16)
}




.center {
  text-align: center;
}

.left {
  text-align: left;
}

.blue {
  background-color: rgb(39,96,161)
}

.black {
  color: rgb(0,0,0);
}

.white {
  color: rgb(255,255,255)
}

.grey {
  color:grey
}

/* font-size */
.huge {
  font-size: 4.5vw;
}

.massive {
  font-size: 3vw;
}

.big {
  font-size: 2.3vw;
}

.large{
  font-size: 2vw;
}

.small {
  font-size: 1vw;
}

/* projects */
.ui.Card {
  padding: 40px;
}

.description {
  font-size: 1.3vw;
}

.card-image {
  height: 51vh;
  width: auto;
}

.demo-button {
  background-color: white;
}

/* resume */

.resume {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 1.2em;

  background-color: rgb(72, 164, 221);
  padding: 45px;
}

.resume a {
  color: white;
}

.download {
  float:right;
}

.education p {
  line-height: 1.7vw;
}

.block {
  background-color: rgb(255,155,0,0.6)
}

/* about */

.about{
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 1.4vw;
  color: rgb(153,153,153);
}

.about p {
  line-height: 2vw;
}

/* blog */

.blog{
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 1.4vw;
  color: rgb(153,153,153);
}


.right {
  text-align: right;
}



/* home */
html, body {
    margin: 0;
    height: 100%;
}

.ferris {
  width: 100%;
  z-index: -1;
}

.fadeOut{
     opacity:0;
     transition: opacity 0.5s;

}
.fadeIn{
     opacity:1;
     transition: opacity .5s 1s;

}
