.App {
  text-align: center;
}

.black-background {
  background-color: rgb(10,10,16)
}

.ui.Card {
  padding: 40px;
}


.description {
  font-size: 1.3vw;
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.blue {
  background-color: rgb(39,96,161)
}

.black {
  color: rgb(0,0,0);
}

.white {
  color: rgb(255,255,255)
}

.yellow {
  color: rgb(243,234,170)
}

.grey {
  color:grey
}

.huge {
  font-size: 4.5vw;
}

.massive {
  font-size: 3vw;
}

.big {
  font-size: 2.3vw;
}

.small {
  font-size: 1vw;
}

.large{
  font-size: 2vw;
}

.resume {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 1.2em;

  background-color: rgb(72, 164, 221);
  padding: 45px;
}

.education p {
  line-height: 1.7vw;
}

.resume a {
  color: white;
}




.download {
  float:right;
}

.block {
  background-color: rgb(255,155,0,0.6)
}

.about{
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 1.4vw;
  color: rgb(153,153,153);
}

.blog{
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 1.4vw;
  color: rgb(153,153,153);
}

.about p {
  line-height: 2vw;
}

.right {
  text-align: right;
}

.ferris {
  size: cover;
}

.demo-button {
  background-color: white;
}








.card-image {
  height: 51vh;
  width: auto;
}
