.App {
  text-align: center;
}

.ui.Card> {
  padding: 40px;
}


.description {
  font-size: 1.3em;
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.blue {
  background-color: rgb(20,32,73)
}

.black {
  color: rgb(0,0,0);
}

.white {
  color: rgb(255,255,255)
}

.grey {
  color:grey
}

.huge {
  font-size: 4.5vw;
}

.massive {
  font-size: 3em;
}

.big {
  font-size: 2.3em;
}

.large{
  font-size: 2em;
}

.resume {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 1.2em;
  background-color: rgb(82,147,242);
  /* background-color: rgb(245,228,201); */
  padding: 45px;
}

.education p {
  line-height: 1.7em;
}

.resume a {
  color:white;
}

.block {
  background-color: rgb(255,155,0,0.6)
}

.about {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 1.4em;
  color: rgb(153,153,153);
}

.about p {
  line-height: 1.5em;
}

.ferris {
  size: cover;
}

.demo-button {
  background-color: white;
}

.card-image {
  height: 25vw;
  width: auto;
}
